<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <form action="/updateData" method="post">
        <input id="name" type="text" required name="name" placeholder="Name" value = "<%= obj.name %>"><br><br>
        <input type="number" placeholder="Price" name="price" id="price" required  value="<%= obj.price %>">
        <input type="text" placeholder="Image Link" name="img" id="img" required  value="<%= obj.img %>">
        <input id="description" type="text" name="description" placeholder="Description"  value = "<%= obj.des %>"><br><br>
        <input type="number" name = "UUID" id="uuid" placeholder="UUID">
        <input id="id" type="hidden" name="id"value="<%= obj.uuid %>" ><br><br>
        <input type="submit" >
    </form>

    <script src="script.js"></script>
</body>
</html>